<% provide(:title, "Expenses") %>
<h1>Expenses</h1>




<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<canvas id="bar-chart" width="800" height="450"></canvas>
<script type="text/javascript">
// Bar chart
new Chart(document.getElementById("bar-chart"), {
	type: 'bar',
	data: {
		labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
		datasets: [
			{
				label: "Population (millions)",
				backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
				data: [2478,5267,734,784,433]
			}
		]
	},
	options: {
		legend: { display: false },
		title: {
			display: true,
			text: 'Predicted world population (millions) in 2050'
		}
	}
});
</script>





<div style=" margin:auto;" class="center">

  <% if @first_time %>
    <h3>No records yet</h3>
    <a class="btn btn-warning" href="/">back</a>
    <a class="btn btn-success" href=" <%= new_expense_path %>">new expense</a>
    </div>
  <% else %>
    <% if current_user %>

      <%= render 'layouts/table' %>

    <% end %>
    <br>
    <div id="left"><a class="btn btn-default" href=" <%= new_expense_path %>">new expense</a></div>
  <% end %>
 

